@import '../../global.scss';

.skills {
  background-color: $secColor;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .skills-box {
    width: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 10px;
    justify-items: center;

    @include mobile {
      width: 100%;
    }
  }
}
