$mainColor: #1d1d1a;
$secColor: #eeeeee;
$background-color-dark: #292a32;
$background-color-light: #eeeeee;
$complimentary-color-dark: #393b43;
$complimentary-color-light: #feffff;

body {
  background-color: $secColor;
  color: $background-color-dark;
  .hamburger {
    span {
      background-color: $background-color-dark;
    }
  }
  .imgContainer {
    background-color: $background-color-dark;
  }
}
a {
  text-decoration: none;
}
body.dark-mode {
  background-color: $background-color-dark;

  color: $background-color-light;
  .hamburger {
    span {
      background-color: $background-color-light;
    }
  }
  .imgContainer {
    background-color: $secColor;
  }
  .dark-button {
    color: $background-color-light;
  }
}

$width: 768px;
@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
